.banner {
    background-color: #001427;
    color: #f4d58d;
    text-align: center;
}

.statement {
    background-color: lightgray;
    padding: 1em;
}

body {
    background-image: url("./record.png");
    background-repeat: repeat;
    margin: 0;
}